.card.large{
  width: 100%;
  height: 100%;
  margin: 10px auto !important; 
}
.data-table-wrap{
  overflow-x: auto !important;
  height: 500px;
}

.card-content{
  height: auto;
}
.footer-copyright{
  border-top: 2px solid #f44336; 
}
.row{
  margin: 0;
}
table, th, td,thead, tr{
  text-align: center;
}
.td1{
  display: none;
}
.breed{
  width: 200px !important;
}
.form-action{
  float: left;
  margin: 8px;
}
.tg-5xqe{
  background-color:#000000;
}
.tg-2nhx{
  background-color:#9b9b9b;
  height: 5px !important;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid white !important;
  border-radius: none;
}
td.female{
  background: #F2F2F2;
}
td.male{
  background: #FFFFFF;
}
input[type=search]{
  margin: 0;
  float: right !important;
}